body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: antiquewhite;
}

.header{
  padding: 25px;
  background-image: url("../DayplannerBackground.jpg");
  background-size: cover;
  text-align: center;
  color:#fffffb;
  margin-bottom: 20px;
}

.subtitle{
  font-size: 25px;
}

#currentDay{
  font-size: 30px;
  font-weight: 900;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

#currentHour{
  color:#000000;
  font-weight:bolder;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #810606;
  color: #f3ebeb;
  border-top: 1px dashed #000000;
  font-weight: bold;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  }

.past {
  background-color: antiquewhite;
  color: white;
}

.present {
  background-color: #fe5429;
  color: white;
}

.future {
  background-color: #e6cd5f;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #d54106;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
